<%- include ../partials/header.ejs %> <%- include ../partials/main_nav.ejs %>

<!-- Content for the Add page -->
<!-- Content for the Add page -->
<div class="container">
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <h1><%= title %></h1>

      <form class="form" method="POST">
        <div class="form-group">
          <label for="nameTextField">Name</label>
          <input
            type="text"
            class="form-control"
            id="nameTextField"
            placeholder="Enter your name"
            name="Name"
            required
          />
        </div>

        <div class="form-group">
          <label for="weightTextField">Weight</label>
          <input
            type="text"
            class="form-control"
            id="weightTextField"
            placeholder="Enter your weight"
            name="Weight"
            required
          />
        </div>

        <div class="form-group">
          <label for="exerciseTextField">Exercise</label>
          <input
            type="text"
            class="form-control"
            id="exerciseTextField"
            placeholder="Enter the exercise"
            name="Exercise"
            required
          />
        </div>

        <div class="form-group">
          <label for="repsTextArea">Reps</label>
          <textarea
            type="text"
            class="form-control"
            id="repsTextArea"
            placeholder="Enter the number of reps"
            name="Reps"
            required
          ></textarea>
        </div>

        <div class="form-group">
          <label for="calories_burnedTextField">Calories Burned</label>
          <input
            type="text"
            class="form-control"
            id="calories_burnedTextField"
            placeholder="Enter the amount of calories burned"
            name="Calories_Burned"
            required
          />
        </div>

        <div class="form-group">
          <label for="restTextField">Rest</label>
          <input
            type="text"
            class="form-control"
            id="restTextField"
            placeholder="Enter the rest time"
            name="Rest"
            required
          />
        </div>

        <button class="btn btn-primary" type="submit">
          <i class="fas fa-edit"></i> Submit
        </button>

        <a href="/workout" class="btn btn-warning">
          <i class="fas fa-undo"></i> Cancel</a
        >
      </form>
    </div>
  </div>
</div>

<%- include ../partials/bottom_nav.ejs %> <%- include ../partials/footer.ejs %>
